<link rel = "stylesheet" type = "text/css" href = "/stylesheets/categories/new.css" />
<%= render '/layouts/nav'%>


<% if flash[:errors] %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<div class="container">

    <h2>Edit Goal in the <%=@category.name%> Category</h2>
    <p>Please fill in this form to Edit a goal in <%=@category.name%> Category</p>
    <%= form_tag "/categories/#{@category.id}/goals/#{@goal.id}", method: "patch" do %>
          <%= label_tag "Goal Name"%><br>
          <%= text_field_tag name="goal[name]", @goal.name%><br>
              
          <%= label_tag "Goal Details"%><br>
          <%= text_field_tag name="goal[details]", @goal.details %><br>

          <% if !@goal.completed %>
            <%= label_tag "Completed?: "%>
            <%= check_box_tag "goal[completed]" %><br>
          <%end%>

          <%= hidden_field_tag "goal[category_id]", "#{@category.id}"%>
                  
          <%= submit_tag "Edit Goal", class: "loginbtn" %>
    <%end%>